<div class="sectBody">
    <div class="sectBody__sider">
        <aside class="sectSider">
            <app-sider></app-sider>
        </aside>
    </div>
    <div class="sectBody__main">
        <main class="sectMain">
            <div class="sectMain__header">
                <header class="sectHeader">
                    <app-header></app-header>
                </header>
            </div>
            <div class="sectMain__mainContent">
                <div class="mainBodyContent">
                    <div class="test">
                        <div class="container">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                    <footer class="sectFooter">
                        <div class="container">
                            <app-footer></app-footer>
                        </div>
                    </footer>
                </div>
            </div>
        </main>
    </div>
</div>