<div class="sectBody">
    <div class="sectBody__sider">
        <aside class="sectSider">
            <app-sider></app-sider>
        </aside>
    </div>
    <div class="sectBody__main">
        <main class="sectMain">
            <div class="sectMain__header">
                <header class="sectHeader">
                    <app-header></app-header>
                </header>
            </div>
            <div class="sectMain__mainContent">
                <div class="mainBodyContent">
                    <div class="test">
                        <div class="container">
                            Lorem ipsum dolor sit
                            <br> amet consectetur adipisicing elit. 
                            <br> Temporibus odio facilis odit inventore qui distinctio maiores, 
                            <br> eveniet corrupti repellat dignissimos, 
                            <br> dicta et modi minima libero molestiae ducimus suscipit vitae ad.
                        </div>
                    </div>
                    <footer class="sectFooter">
                        <div class="container">
                            <app-footer></app-footer>
                        </div>
                    </footer>
                </div>
            </div>
        </main>
    </div>
</div>