<div class="container">
    <menu class="sectMenu">
        <div class="sectMenu__breadCrumb">
            <div class="breadCrumb">
                Home/Dashboard
            </div>
        </div>
        <div class="sectMenu__pageName">
            <div class="pageName">
                page name
            </div>
        </div>
        <div class="sectMenu__details">
            <div class="details">
                <div class="details__search">
                    <input type="text" placeholder="Search">
                </div>
                <div class="details__user">
                    <div class="user">
                        <div class="user__avatar">
                            <picture class="imgContainer">
                                <img src="" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </menu>
</div>
