<div class="buttonSect">
    <div class="buttonSect__title">
        <h1>
            Buttons
        </h1>
    </div>
    <div class="buttonSect__content">
        @for (item of AllButtonProperty; track $index) {
            <div class="item">
                <h2>{{item.title}} :</h2>
                <div class="itemList">
                    @for (item of item.buttonProperty; track $index) {
                        <p-button
                            [icon]="item.icon"
                            [label]="item.label"
                            [loading]="item.loading ?? false"
                            [severity]="item.severity"
                            [size]="item.size"
                            [raised]="item.raised"
                            [rounded]="item.rounded"
                            [text]="item.text"
                            [outlined]="item.outlined"
                        ></p-button>
                    }
                </div>
            </div>
        }
    </div>
</div>